* {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-evenly;
}

.header-content {
    padding: 180px 240px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 20px 43px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

.header-img {
    padding-top: 50px;
    padding-right: 240px;
}

/* Our Featured Flowers styles */
.featured {
    margin-top: 175px;
}

#featured {
    text-align: center;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.rectangles {
    display: flex;
    text-align: center;
    justify-content: center;
}

.rectangle-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 78px;
}

.rectangle-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 47px 50px 47px;
}

.rectangle-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

.rectangles-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* optional info starts  */

.optional-info {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    margin: 128px 240px 0px 240px;
}

.optional-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}


/* hot deals section styles */

.hot-deals {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
    margin-bottom: 128px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.hot-deals-content {
    padding-top: 230px;
    padding-bottom: 162px;
    align-items: center;
    padding-left: 400px;
}

.hot-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

#hot-deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.hot-deals-img {
    padding: 100px 230px 100px 0px;
}


#dif-color {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

/* instagram section starts */

.ig-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.ig-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.ig-part {
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    margin: 128px 240px 0px 240px;

}